<p id="notice"><%= notice %></p>

<h1>Reclamações</h1>
<% if !@usuario.reclamacaos.empty? %>
<table border="1">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Texto</th>
      <th>Ações</th></th>
    </tr>
  </thead>

  <tbody>
    <% @reclamacaos.each do |reclamacao| %>
      <tr>
        <td><%= reclamacao.titulo %></td>
        <td><%= reclamacao.texto %></td>
        <td><%= link_to 'Visualizar', usuario_reclamacao_path(@usuario, reclamacao) %>
        <%= link_to 'Editar', edit_usuario_reclamacao_path(@usuario, reclamacao) %>
        <%= link_to 'Destruir', [@usuario, reclamacao], id:"d-#{reclamacao.titulo}", method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Voltar', [@usuario] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end %>

<br>

<%= link_to 'Nova Reclamação', new_usuario_reclamacao_path(@usuario) %>
